<div class="home-wrapper flex flex-col">
    <div class="flex flex-col items-center justify-start flex-1 py-16">
        <h1 class="text-center text-white">Easy Template</h1>

        <h3 class="text-center text-white">Angular Material Design Admin Template</h3>

        <p class="text-center text-white">Quick start your next project with this Angular Material Design Admin Template in a few minute. </p>
        <p class="text-center text-white">Easy with all in one place.</p>
        <br>
        <button mat-raised-button color="primary" (click)="goToMainDashboard()">
            Main Dashboard
        </button>
        <br>

        <h1 class="text-center text-white">FULL DOWNLOAD 📦</h1>
        <br>
        <div class="flex items-center justify-center gap-4">
            <button mat-stroked-button color="primary" >Documentation</button>
            <button mat-stroked-button color="accent">Github Access</button>
        </div>
        <br>
        <div class="flex items-center justify-center">
            <img src="assets/images/admin-template.jpg" alt="Template">
        </div>
    </div>

    <footer class="flex items-end justify-end mb-0">
        hi
    </footer>

</div>